<article class="jumbotron">
  <h1 class="hola">Perfiles</h1>
  <form class="form-inline">
    <div class="form-group">
      <label>buscar por Nombre o Apellido</label>
      <input type="text" ng-model="search" class="form-control" placeholder="Buscar por Nombre o Apellido">
    </div>
  </form>
  <form class="form-inline">
    <div class="form-group">
      <select name="searchPerfil" ng-model="obtenerPerfil" ng-change="searchPerfil(obtenerPerfil)">
        <option ng-repeat="perfil in perfiles" ng-value="perfil.id"> {{perfil.descripcion}}</option>
      </select>
    </div>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Perfil</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr
        ng-class="dato.perfil == '1' ? 'backEnd' : dato.perfil == '2' ? 'frontEnd' : dato.perfil == '3' ? 'diseñador' : dato.perfil == '4' ? 'scrum' : ''"
        ng-repeat="dato in autocomplete">
        <td>{{dato.id}}</td>
        <td>{{dato.nombre}}</td>
        <td>{{dato.apellido}}</td>
        <td>{{obtenerPerfil(dato.perfil)}}</td>
        <td>
          <span ng-click="editar()" ng-hide="dato.id==1">visualizar</span>
          <span ng-click="editar()" ng-hide="dato.id==3"> editar</span>
        </td>
      </tr>
    </tbody>
  </table>
  <input type="text" name="userName" ng-model="username" ng-change="changeName(3)">
  <p class="text-right">
    <a class="btn btn-success btn-lg" href="#/inicio" role="button">
      Volver
    </a>
  </p>

  <p>
    <a class="btn btn-success btn-lg" ng-click="borrarApellido(1)" role="button">
      Borrar Apellido ID1
    </a>
  </p>
</article>
</br>
<center><button ng-click="ShowForm()" ng-hide="formVisibility" class="btn btn-success">Agregar Perfil Nuevo</button>
</center>
<article ng-show="formVisibility" class="jumbotron">
  <div class="wrapper">
    <h1>Formulario LLenar con datos correctos</h1>
    <hr>
    <form role="form" name="forma">
      <div class="form-group" ng-class="{'has-error': forma.IdU.$invalid, 'has-success': forma.IdU.$valid}">
        <label for="inputNombre">ID</label>
        <input id="inputid" type="text" class="form-control" placeholder="ID" name="IdU" ng-model="nuevoPerfil.id"
          required>
      </div>
      <div class="form-group" ng-class="{'has-error': forma.nombreU.$invalid, 'has-success': forma.nombreU.$valid}">
        <label for="inputNombre">Nombre</label>
        <input id="inputNombre" type="text" class="form-control" placeholder="Nombre" name="nombreU"
          ng-model="nuevoPerfil.nombre" required>
      </div>

      <div class="form-group" ng-class="{'has-error': forma.apellidoU.$invalid, 'has-success': forma.apellidoU.$valid}">
        <label for="inputApellido">Apellido</label>
        <input id="inputApellido" type="text" class="form-control" placeholder="Apellido" name="apellidoU"
          ng-model="nuevoPerfil.apellido" required>
      </div>
  <!--  
      <div class="form-group" ng-class="{'has-error': forma.perfilU.$invalid, 'has-success': forma.perfilU.$valid}">
        <label for="inputPerfil">Perfil</label>
        <input id="inputPerfil" type="text" class="form-control"
          placeholder="id: 1: 'Full Stack'| id: 2: 'Back-end'| id: 3: 'Front-end' |id: 4 : 'Disenador' " name="perfilU"
          ng-model="nuevoPerfil.perfil" required>
      </div>
 -->
      <div class="form-group" ng-class="{'has-error': forma.perfilU.$invalid, 'has-success': forma.perfilU.$valid}">
        <label for="inputPerfil">Seleccione Perfil</label>
        <select class="form-control" name="searchPerfil" ng-model="obtenerPerfildue">
          <option ng-repeat="perfil in perfiles" ng-value="perfil.id"> {{perfil.descripcion}}</option>
        </select>
      </div>

    <div class="form-group" ng-class="{'has-error': forma.emailU.$invalid, 'has-success': forma.emailU.$valid}">
      <label for="inputEmail">Email</label>
      <input id="inputEmail" type="email" class="form-control" placeholder="email" name="emailU" ng-model="dato.email"
        required>
      <div ng-show="forma.emailU.$dirty && forma.emailU.$invalid">
        <p class="help-block text-danger" ng-show="forma.emailU.$error.required">Campo obligatorio</p>
        <p class="help-block text-danger" ng-show="forma.emailU.$error.email">Email invalido</p>
      </div>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="aceptoU" ng-model="usuario.acepto" required> Acepto.
      </label>
    </div>
    <button ng-click="Guardar()" class="btn btn-success" ng-disabled="forma.$invalid">Registrar</button>
    </form>
    <div>
    </div>
  </div>
</article>